@tailwind base;
@tailwind components;
@tailwind utilities;


/* body{
    background:url("..\public\bg-img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    background-position: center;
    background-attachment: fixed;
    
} */